<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- SEO Meta Tags -->
        <meta name="description" content="Your description">
        <meta name="author" content="Your name">

        <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
        <meta property="og:site_name" content="" /> <!-- website name -->
        <meta property="og:site" content="" /> <!-- website link -->
        <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
        <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
        <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
        <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
        <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

        <!-- Webpage Title -->
        <title>Oxos - ReceiptMkr</title>
        
        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        
        <!-- Favicon  -->
        <link rel="icon" href="{% static 'images/favicon.svg' %}">
    </head>
    <body data-bs-spy="scroll" data-bs-target="#navbarExample">
        
        <!-- Navigation -->
        <nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
            <div class="container">

                <!-- Image Logo -->
                <a class="navbar-brand logo-image" href="{% url 'frontend:home' %}"><img src="{% static 'images/oxos2.svg' %}" alt="alternative"></a> 

                <!-- Text Logo - Use this if you don't have a graphic logo -->
                <!-- <a class="navbar-brand logo-text" href="{% url 'frontend:home' %}">Oxos</a> -->

                <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation" aria-expanded="false">
                    <span class=""><a class="btn-outline-sm" href="{% provider_login_url 'google' %}"><img src="{% static 'images/googlex.svg' %}">Sign In </a></span>
                </button>

                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav ms-auto navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#header">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#details">Details</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#pricing">Pricing</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="#contactus">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'frontend:documentation'  %}">Documentation</a>
                          </li>
                    </ul>
                    <span class="nav-item">
                        {% if request.user.is_authenticated %}
                        <a class="btn-outline-sm" href="{% url 'frontend:dashboard' user.id %}">Dashboard</a>
                        {% else %}
                        <a class="btn-outline-sm" href="{% provider_login_url 'google' %}"><img src="{% static 'images/googlex.svg' %}">Sign In with google</a>
                        {% endif %}
                    </span>
                </div> <!-- end of navbar-collapse -->
            </div> <!-- end of container -->
        </nav> <!-- end of navbar -->
        <!-- end of navigation -->

        
        <!-- Header -->
        <header id="header" class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h1 class="h1-large" style="color: #000000;">Generate <span class="replace-me">receipts</span> for your customers on the fly </h1>
                            <p class="p-large">Elevate your customer experience with beautifully designed receipts</p>
                            
                            <a class="btn-solid-lg" href="{% provider_login_url 'google' %}">Get started for free</a>

                            <!-- <p class="p-large">* Billing is fairly priced and based on usage</p> -->
                            
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="{% static 'images/Receipt-amico.svg' %}" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </header> <!-- end of header -->
        <!-- end of header -->


        <!-- Features -->
        <div id="features" class="cards-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="h2-heading">Oxos is <span>easy to use</span></h2>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
                <div class="row">
                    <div class="col-lg-12">
                        
                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon">
                                <img src="{% static 'images/Mobile login-pana.svg' %}" alt="">
                                
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Register</h4>
                                <p>Sign Up with us to become a member</p>
                            </div>
                        </div>
                        <!-- end of card -->

                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon green">
                                <img src="{% static 'images/Documents-amico.svg' %}" alt="Business illustrations by Storyset">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Add few lines of code</h4>
                                <p>Copy and paste a few lines of code to your checkout page</p>
                            </div>
                        </div>
                        <!-- end of card -->

                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon blue">
                                <img src="{% static 'images/Honesty-rafiki.svg' %}" alt="">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Satisfy your customers</h4>
                                <p>The receipts are generated after payment has been confirmed successful</p>
                            </div>
                        </div>
                        <!-- end of card -->

                        
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of cards-1 -->
        <!-- end of services -->


        <!-- Details 1 -->
        <!-- <div id="details" class="basic-1 bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-5">
                        <div class="text-container">
                            <h2>Customize the receipt with your business details</h2>
                            <p>Business details like name, website address, logo, physical address are all included in the receipt to increase personalization</p>
                            </div> 
                    </div> 
                    <div class="col-lg-6 col-xl-7">
                        <div class="image-container">
                            <img class="img-fluid" src="{% static 'images/Advanced customization-rafiki.svg' %}" alt="alternative">
                        </div> 
                    </div> 
                </div>
            </div> 
        </div>  -->
     

        

        
        <!-- end of testimonials -->
        <!-- <div id="pricing" class="cards-2 bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                            <h2 class="h2-heading">Pricing</h2>
                            <p class="h2-heading">Contact us if you need more allocation</p>
                        </div>
                        <div class="card-group">
                            <div class="card">
                            <div class="card-body">
                            <div class="card-title">
                                <span>Silver</span>
                            </div>
                            <ul class="list-unstyled li-space-lg">
                                <li>75 Receipts per month</li>
                                <li>1 business allowed</li>
                                <li>Support</li>
                                <li>1 template option</li>
                                
                            </ul>
                            <div class="price">$5<span>/month</span></div>
                             </div>
                            </div>
                            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                    <span>Gold</span>
                    </div>
                    <ul class="list-unstyled li-space-lg">
                        <li>200 Receipts per month</li>
                        <li>3 businesses allowed</li>
                        <li>Support</li>
                        <li>3 templates options</li>
                    </ul>
                    <div class="price">$10<span>/month</span></div>
                    
                    
                    
                </div>
                            </div>
                            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                    <span>Platinum</span>
                    </div>
                    <ul class="list-unstyled li-space-lg">
                        <li>500 Receipts per month</li>
                        <li>5 businesses allowed</li>
                        <li>Support</li>
                        <li>5 templates options</li>
                    </ul>
                    <div class="price">$25<span>/month</span></div>
                     <a href="sign-up.html" class="btn-solid-reg">Pay</a> 
                    
                </div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div> -->
        

        

        <div id="contactus" class="slider-1 bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="h2-heading">Contact Us</h2>
                    </div> <!-- end of col -->
                </div> 
              
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" name="sender_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="johndoe@email.com">
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Your message</label>
                        <textarea class="form-control" name="message_body" id="exampleFormControlTextarea1" rows="3" placeholder="Hello, i would like to....."></textarea>
                      </div>
                      <div class="col-md-12 text-center">
                    <button type="submit" class="btn-outline-sm" style="background-color: #93D2FF; border-color: #2F7CB1; ">Submit</button>
                      </div>
                </form>
                             
                </div> 

            </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> 
        <!-- Footer -->
        <!-- end of footer -->  
        <!-- end of footer -->

   
        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="text-center">
                    <p style="color: black;">OXOS-RECEIPTMKR</p>
                </div><!-- end of col -->
                </div> <!-- enf of row -->
            </div> <!-- end of container -->
        </div> <!-- end of copyright --> 
        <!-- end of copyright -->
        

        <!-- Back To Top Button -->
        <button onclick="topFunction()" id="myBtn">
            <img src="{% static 'images/up-arrow.png' %}" alt="alternative">
        </button>
        <!-- end of back to top button -->
            
        <!-- Scripts -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
        <script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
        <script src="{% static 'js/purecounter.min.js' %}"></script> <!-- Purecounter counter for statistics numbers -->
        <script src="{% static 'js/replaceme.min.js' %}"></script> <!-- ReplaceMe for rotating text -->
        <script src="{% static 'js/scripts.js' %}"></script> <!-- Custom scripts -->
        
    </body>
</html>