<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- SEO Meta Tags -->
        <meta name="description" content="Your description">
        <meta name="author" content="Your name">

        <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
        <meta property="og:site_name" content="" /> <!-- website name -->
        <meta property="og:site" content="" /> <!-- website link -->
        <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
        <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
        <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
        <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
        <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

        <!-- Webpage Title -->
        <title>Oxos - ReceiptMkr</title>
        
        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        
        <!-- Favicon  -->
        <link rel="icon" href="{% static 'images/favicon.svg' %}">
    </head>
    <body data-bs-spy="scroll" data-bs-target="#navbarExample">
        
        <!-- Navigation -->
        <nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
            <div class="container">

                <!-- Image Logo -->
                

                <!-- Text Logo - Use this if you don't have a graphic logo -->
                <!-- <a class="navbar-brand logo-text" href="{% url 'frontend:home' %}">Oxos</a> -->
                <div class="col-md-12 text-center">
                    <a class="navbar-brand logo-image" href="{% url 'frontend:home' %}"><img src="{% static 'images/oxos2.svg' %}" alt="alternative"></a> 
                  </div>

                <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav ms-auto navbar-nav-scroll">
                        
                        <!-- <li class="nav-item">
                          <a class="btn btn-outline-success" href="#pricing">Upgrade to Basic</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="btn-outline-sm" >{{user.email}}</a>
                             -->
                        </li>
                    </ul>
                    
                </div> <!-- end of navbar-collapse -->
            </div> <!-- end of container -->
        </nav> <!-- end of navbar -->
        <!-- end of navigation -->

        
       



        <!-- Questions -->
        <div class="accordion-1">
            <div class="container">
                
                
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <h2 class="h2-heading">Business Details</h2>
                        <p class="text-center">These will appear on the receipts</p>
                    </div> 
                </div>
                <div class="card-deck">
                    <div class="card text-center">
                      <div class="card-header">
                        Small
                      </div>
                      <div class="card-body">
                        <ul class="list-unstyled li-space-lg">
                            <li>75 Receipts per month</li>
                            <li>1 business allowed</li>
                            <li>Support</li>
                            <li>1 template option</li>
                        </ul>
                      </div>
                      <div class="card-footer text-muted">
                        <strong>$5</strong>
                      </div>
                    </div> 
                  <div class="card text-center">
                    <div class="card-header">
                      Medium
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled li-space-lg">
                            <li>200 Receipts per month</li>
                            <li>3 businesses allowed</li>
                            <li>Support</li>
                            <li>3 templates options</li>
                           
                        </ul>
                    </div>
                    <div class="card-footer text-muted">
                        <strong>$10</strong>
                      </div>
                  </div>
                  <div class="card text-center">
                    <div class="card-header">
                      Large
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled li-space-lg">
                            <li>500 Receipts per month</li>
                            <li>5 businesses allowed</li>
                            <li>Support</li>
                            <li>5 templates options</li>
                            
                        </ul>
                    </div>
                    <div class="card-footer text-muted">
                        <strong>$25</strong>
                      </div>
                  </div>
                </div> 
                <br>
                <br>
                  
               
                <form action="" method="post">
                  {% csrf_token%}
                  <div class="form-group ">
                    <div class="form-group col-md-12">
                        <div class="input-group">
                            <select class="custom-select" name="template_choice" id="inputGroupSelect02">
                              
                              <option value="5">Small</option>
                              <option value="10">Medium</option>
                              <option value="25">Large</option>
                            </select>
                            <div class="input-group-append">
                              <label class="input-group-text" for="inputGroupSelect02">Choose plan</label>
                            </div>
                          </div>
                      </div>
                    <div class="form-group col-md-12">
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">First Name</span>
                          </div>
                          <input type="text" class="form-control" name="biz_name" placeholder="example: Dini Stores" aria-label="Username" aria-describedby="basic-addon1">
                        </div> 
                    </div>
                    <div class="form-group col-md-12">
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Last Name</span>
                          </div>
                          <input type="text" class="form-control" name="biz_name" placeholder="example: Dini Stores" aria-label="Username" aria-describedby="basic-addon1">
                        </div> 
                    </div>
                    <div class="form-group col-md-12">
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Mobile Number</span>
                          </div>
                          <input type="text" class="form-control" name="biz_name" placeholder="example: Dini Stores" aria-label="Username" aria-describedby="basic-addon1">
                        </div> 
                    </div>
                    <div class="form-group col-md-12">
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Email Address</span>
                          </div>
                          <input type="text" class="form-control" name="biz_name" placeholder="example: Dini Stores" aria-label="Username" aria-describedby="basic-addon1">
                        </div> 
                    </div>
                   
                  
                  </div>
                  
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary">Proceed to pay</button>
                </div>
                </form> 
                
                  
                
                
                <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of accordion-1 -->
        <!-- end of questions -->


       
            
        <!-- Scripts -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
        <script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
        <script src="{% static 'js/purecounter.min.js' %}"></script> <!-- Purecounter counter for statistics numbers -->
        <script src="{% static 'js/replaceme.min.js' %}"></script> <!-- ReplaceMe for rotating text -->
        <script src="{% static 'js/scripts.js' %}"></script> <!-- Custom scripts -->
        
    </body>
</html>